.container {
  margin: 1rem;
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  height: 100vh;
  width: 100vh;
  margin-right: auto;
  margin-left: auto;
}